[Desktop Entry]
Type=Application
Name=Baud
Comment=A GPU-accelerated terminal emulator
Exec=baud
Icon=baud
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;emulator;console;shell;
