[Desktop Entry]
Type=Application
Name=Baud
Comment=A fast, feature-rich, GPU-accelerated, cross-platform terminal emulator
Exec=baud
Icon=baud
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;emulator;console;shell;
X-TerminalArgExec=-e
X-TerminalArgDir=--working-directory=
